certifi~=2019.3.9
chardet==3.0.4
idna==2.8
matplotlib>=3.4.2
networkx==2.3
numpy
opencv-python
pillow>=8.3.1
plotly==3.10.0
requests>=1.21.0
ipdb==0.13.9
termcolor==1.1.0
tqdm==4.31.1
urllib3>=1.24.3
antlr4-python3-runtime~=4.13.1
py_trees~=2.2.3
shortuuid~=1.0.11
autopep8~=2.0.4
openai
antlr4-python3-runtime
py_trees
shortuuid~=1.0.11
protobuf==3.20.3
gym==0.26.2
grpcio==1.64.1
requests~=2.31.0
urllib3~=2.0.7
tabulate~=0.9.0
autopep8
loguru~=0.5.3
matplotlib~=3.8.0
numpy~=1.26.0
setuptools~=68.0.0
pydot~=1.4.2
colorama~=0.4.6
pyqt5
scikit-learn~=1.5.0
translate~=3.6.1
psutil
